body {
    font-family: 'Monda';
}
#_eu{    height: 100vh;
    width:100vh;
  background-image: linear-gradient(to bottom right, darkblue,lightblue);


}

  .navbar a{
    color: pink;
    display: block;
    transition: 0.5s;
  }
  .navbar a:hover{
    background-color: lightcyan;
  }
.img-thumbnail {
    width: 40%;
    height: auto;
    border-radius: 25px;
}
  /* Make the image fully responsive */
  .carousel-inner {
      width: 100%;
      height: 100%;
  }