      body {
  margin: 0;
  font-size:12px;          
  background-color: rgb(232,99,99);
  transition: 0.8s;
}

.navbar{
  font-size:15px;
  background-color:rgb(255,255,255);
}
  .navbar a{
    color: pink;
    display: block;
    transition: 0.5s;
  }
  .navbar a:hover{
    background-color: lightpink;
  }


.h-100{
    background-color:white;
}
.jumbotron{
    background-color: white; 
}
#sobreMim{
    border-right: 8px solid #E86363;
}
#experiencia{
        border-right: 8px solid #E86363;
}
#habilidades{
        border-right: 8px solid #E86363;
}